@section Scripts    {
    <script src="~/js/carroindex.js"></script>
}
<!--
<div class="cantidad-marco" style="display:none">
    <div class="cantidad-marco-nro">
        <div class="cantidad-marco-nrob">
            <input class="cantidad-numero" id="txtCantidad" name="name" value="1" />
        </div>
    </div>
    <div class="cantidad-marco-fl">
        <div onclick="MoverCant(1)" class="cantidad-fl">🡱</div>
        <div onclick="MoverCant(-1)" class="cantidad-fl">🡳</div>
    </div>
</div>
-->
<div id="ContenedorCarro" class="ContenedorCarro">
    <h4 style="line-height:4rem;">Tus productos</h4>
</div>
<div class="fila">
    <div class="col-img"></div>
    <div class="col">Total:</div>

    <div class="col" id="totalCarro">
        0
    </div>
    <div class="col col-cerrar"></div>
</div>
<script>


</script>