<style>
    .fila {
        display: flex;
        border-bottom: silver 2px solid;
    }

    .col {
        padding: 8px;
        flex-grow: 5;
        flex-shrink: 1;
        flex-basis: 0;
        overflow: hidden;
    }

    .col-cant {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
    }

    .col-precio {
        flex-grow: 2;
        flex-shrink: 1;
        flex-basis: 0;
        text-align: right;
    }
</style>
<h1>Carro</h1>
<div id="ContenedorCarro" class="">
    <div class="fila">
        <div class="col">
            xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        </div>
        <div class="col col-cant">
            999
        </div>
        <div class="col col-precio">
            $208.659.598
        </div>
    </div>


</div>

<script>

    var key = "Carro";
    var carro = [];
    if (localStorage.getItem(key)) {

        carro = JSON.parse(localStorage.getItem(key));
        //document.getElementById("carro").innerText = carro;
        var cont = document.getElementById("ContenedorCarro");
        carro.forEach((elem, index, array) => {
            var row = document.createElement("div");
            row.classList = "row";
            var divA = document.createElement("div");
            divA.innerText = index + ' - ' + elem.ProductoId ;
            divA.classList = "col-sm-2";
            var divB = document.createElement("div");
            divB.innerText = ' Zapa ddidi  tt yu';
            divB.classList = "col-sm-4";

            row.appendChild(divA);
            row.appendChild(divB);

            cont.appendChild(row);

        });

    }
        


</script>