@using Newtonsoft.Json;
@model IEnumerable<Negoc.Models.Producto>

@{
    ViewData["Title"] = "Index";
}
<div class="alert  alert-primary" >
    <a href="#" onclick="mostrarBarra();" class="btn btn-outline-primary" >
        Categorias
    </a>
    <select class="btn btn-outline-primary" onchange="moverPag(0)" id="selectId">        
        <option value="1">Menor precio</option>
        <option value="2">Mayor precio</option>
        <option value="3">A-Z</option>
        <option value="4">Z-A</option>
    </select>


</div>

<div id="subCategorias" class="subcategorias">
    
    <div id="categorias">

    </div>
</div>
<div id="ContenedorProd" class="contenedor">

</div>
<div class="alert alert-primary">
    <ul class="pagination justify-content-md-center">
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(-1);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <input type="text" class="page-link" value="1" id="txtPageNumber" readonly style="width:36px;" />
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(1);" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<script>

    window.addEventListener("load", window_onload);
    
    window.onscroll = function (ev) {
        if ((window.innerHeight + window.pageYOffset + 0) >= document.body.offsetHeight) { //mac window.pageYOffset+1
            console.log("you're at the bottom of the page");
        }
    };

    function mostrarBarra() {
        if (document.getElementById("subCategorias").classList[1] == null)
            document.getElementById("subCategorias").classList += " activo";
        else
            document.getElementById("subCategorias").classList = "subcategorias";
    }

    function moverPag(n) {

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        
        var catId = urlParams.get('CategoriaId');
        var genId = urlParams.get('GeneroId');
        var pagNum = urlParams.get('PagNumero');
        var pagSiz = urlParams.get('PagCantidad');
        var tipoOrden = document.getElementById("selectId").value; //urlParams.get('TipoOrden');

        pagNum = parseInt(pagNum) + n;
        
        if (pagNum <= 0) return;        
        
        var urlProd = "/Listar/GetProductos" + getQryNue(catId, genId, pagNum, pagSiz, tipoOrden);
        
        $.ajax({
            url: urlProd,
            method: "GET",
            dataType: 'json'
        }).then(function (data) {
            var productos = JSON.parse(data);
            if (productos.length > 0) {

                LimpiarProd();
                CargarProd(productos);                
            }
            else {
                pagNum -=n;                                
            }      
            

            queryStringNue = getQryNue(catId, genId, pagNum, pagSiz, tipoOrden);
            setUrl(queryStringNue);
            document.getElementById("txtPageNumber").value = pagNum;                
        });    

    }
    function setUrl(queryStringNue) {

        var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + queryStringNue;
        window.history.pushState('', '', newurl);
        //window.history.replaceState('', '', newurl);
        
    }
    function getQryNue(catId, genId, pagNum, pagSiz, tipoOrden) {

        var queryStringNue = "?CategoriaId=" + catId + "&GeneroId=" + genId + "&PagNumero=" + pagNum + "&PagCantidad=" + pagSiz + "&TipoOrden=" + tipoOrden;
        return queryStringNue;
    }

    function filtro (gen, cat, pagN, pagC, tipoO) {
        this.GeneroId = gen;
        this.CategoriaId = cat;
        this.PagNumero = pagN;
        this.PagCantidad = pagC;
        this.TipoOrden = tipoO;
    }
    window.onpopstate = function (e) {
        console.log(e);
        if (e != null)
            //window.location.href = window.location.href; 
            moverPag(0);
        
    }
    function window_onload() {

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        var urlProd = "";
        var catId = urlParams.get('CategoriaId');
        var genId = urlParams.get('GeneroId');
        var pagNum = urlParams.get('PagNumero');
        var pagSiz = urlParams.get('PagCantidad');
        var tipoOrden = urlParams.get('TipoOrden');

        if (!tipoOrden) {
            tipoOrden = 1;
            document.getElementById("selectId").value = tipoOrden;
        }
        if (!pagNum) pagNum = 1;
        if (!pagSiz) pagSiz = 3;

        var mfiltro = new filtro(catId, genId, pagNum, pagSiz, 1);

        if (sessionStorage.getItem("sfiltro")) {
            console.log(sessionStorage.getItem("sfiltro"));
        }
        else {
            sessionStorage.setItem("sfiltro", JSON.stringify(mfiltro));
        }

        queryStringNue = getQryNue(catId, genId, pagNum, pagSiz, tipoOrden);
        setUrl(queryStringNue);
        urlProd = "/Listar/GetProductos" + queryStringNue;

        //CargarProd(JSON.parse(Model));
        
        //var yourJavaScriptArray = //Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model));
        //CargarProd(yourJavaScriptArray);
       
        
        $.ajax({
            url: urlProd,
            method: "GET",
            dataType: 'json'//,
            //data: mfiltro
        }).then(function (data) {
            var productos = JSON.parse(data);
            CargarProd(productos);
        });
        
        getCats();
        
    }

    function getCats() {
        $.ajax(
            {
                url: "/Listar/GetCategorias?CategoriaId=0&NivelId=5",
                method: "GET",
                dataType: 'json'
            }
        ).then(function (data) {
            var res = JSON.parse(data);
            var contain = document.getElementById("categorias");
            res.forEach((elem, index, array) => {
                if (elem.NivelId == 1) {
                    var divR = document.createElement("div");
                    divR.id = elem.CategoriaId;

                    var spText = document.createElement("span");
                    spText.innerText = elem.Nombre;
                    spText.addEventListener('click', function (e) { e.cancelBubble = true; CategoriaClick(e); });
                    var spIco = document.createElement("span");
                    spIco.innerHTML = "|+|";
                    spIco.className = "categoria-icono";
                    spIco.addEventListener('click', function (e) { e.cancelBubble = true; disp(e); });

                    divR.appendChild(spIco);
                    divR.appendChild(spText);

                    contain.appendChild(divR);
                }
                else {
                    var nodo = document.getElementById(elem.ParentId);
                    if (nodo == null) { //no existe
                    }
                    else {
                        var divR = document.createElement("div");
                        divR.style.display = "none";
                        divR.id = elem.CategoriaId;
                        nodo.appendChild(divR);

                        var spText = document.createElement("span");
                        spText.innerText = elem.Nombre;
                        spText.addEventListener('click', function (e) { e.cancelBubble = true; CategoriaClick(e); });
                        var spIco = document.createElement("span");
                        spIco.innerHTML = "|+|";
                        spIco.className = "categoria-icono";
                        spIco.addEventListener('click', function (e) { e.cancelBubble = true; disp(e); });

                        divR.appendChild(spIco);
                        divR.appendChild(spText);

                    }
                }
            });
        });
    }

    function disp(e) {

        if (e.target.innerHTML.indexOf("+") < 0)
            e.target.innerHTML = e.target.innerHTML.replace("-", "+");
        else
            e.target.innerHTML = e.target.innerHTML.replace("+", "-");

        e.target.parentElement.childNodes.forEach((elem, index, array) => {
            if (elem.tagName == "DIV") {
                if (elem.style.display != "none")
                    elem.style.display = "none";
                else
                    elem.style.display = "block";
            }
        });
    }
    function CategoriaClick(e) {

        $.ajax({
            url: "/Listar/GetProductosCat?CategoriaId=" + e.target.parentElement.id,
            method: "GET",
            dataType: 'json'
        }).then(function (data) {
            mostrarBarra();
            var productos = JSON.parse(data);
            CargarProd(productos);
        });
    }
    function LimpiarProd() {
        var contain = document.getElementById("ContenedorProd");
        while (contain.firstElementChild)
            contain.removeChild(contain.firstElementChild);
    }
    function CargarProd(lista) {

        var contain = document.getElementById("ContenedorProd");
        lista.forEach((elem, index, array) => {

            var divProd = document.createElement("div");
            divProd.classList = "item producto";
            var imagen = document.createElement("img");
            var oferta = document.createElement("span");
            var precio = document.createElement("span");
            var off = document.createElement("span");
            var envio = document.createElement("span");
            var descr = document.createElement("span");

            imagen.className = "producto-imagen";
            imagen.src = "/Listar/GetImagePr/" + elem.ProductoId;
            oferta.className = "producto-oferta";
            oferta.innerText = "Oferta";
            precio.className = "producto-precio";
            precio.innerText = elem.PrecioStr;
            off.className = "producto-off";
            off.innerText = "20%";
            envio.className = "producto-off";
            envio.innerText = "Envio gratis";
            descr.className = "producto-descr";
            descr.innerText = elem.Nombre;

            divProd.appendChild(imagen);
            divProd.appendChild(oferta);
            divProd.appendChild(precio);
            divProd.appendChild(off);
            divProd.appendChild(document.createElement("br"));
            divProd.appendChild(envio);
            divProd.appendChild(document.createElement("br"));
            divProd.appendChild(descr);

            contain.appendChild(divProd);

        });
    }


</script>

