@using Newtonsoft.Json;
@model IEnumerable<Negoc.ViewModels.ProductoList>

@{
    ViewData["Title"] = "Index";
}
@section Scripts    {
    <script src="~/js/listarindex.js"></script>    
}

<div class="menu-filtrar-marco">
    <div class="menu-filtrar-izq">
        <a href="#" class="menu-filtrar-alink" data-toggle="collapse" data-target="#marcoFiltros">
            Filtrar
        </a>
    </div>

    <div class="menu-filtrar-der">
        <div>
            <div class="menu-filtrar-texto">
                <span>Mostrar:</span>
            </div>
        </div>
        <select class="btn btn-secondary dropdown-toggle" onchange="moverPag(0)" id="selectPageSize">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
</div>


<div id="marcoFiltros" class="collapse marco-filtros">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark  ">
        <div class=" navbar-collapse show " id="navbarNavB">
            <ul class="navbar-nav">
                <li class="nav-item dropdown active marco-filtros-li">
                    <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoria
                    </a>
                    <div id="selectCategorias" class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <div id="categorias">
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown active marco-filtros-li">
                    <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Marca
                    </a>
                    <div id="selectMarcas" class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    </div>
                </li>
                <li class="nav-item dropdown active marco-filtros-li">
                    <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Color
                    </a>
                    <div id="selectColores" class="dropdown-menu" aria-labelledby="navbarDropdown3">
                    </div>
                </li>
                <li class="nav-item dropdown active marco-filtros-li">
                    <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Deporte
                    </a>
                    <div id="selectDeportes" class="dropdown-menu" aria-labelledby="navbarDropdown4">
                    </div>
                </li>
                <li class="nav-item dropdown active marco-filtros-li">
                    <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Precio
                    </a>
                    <div id="selectPrecio" class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <div class="container-fluid text-center">
                            <input type="number" id="precioD" value="0.00" placeholder="Mínimo" step=".1" />
                            <input type="number" id="precioH" value="0.00" placeholder="Máximo" step=".1" />
                            <hr />
                            <input type="button" name="name" value="Aplicar" class="btn btn-outline-primary" onclick="FiltrarPrecio();" />
                        </div>
                    </div>
                </li>
            </ul>

        </div>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <div class="marco-ordenar">
                    <div class="marco-ordenar-texto">
                        <span>Orden:</span>
                    </div>
                    <div class="marco-ordenar-select">
                        <select class="btn btn-secondary dropdown-toggle" onchange="moverPag(0)" id="selectId">
                            <option value="1">Menor precio</option>
                            <option value="2">Mayor precio</option>
                            <option value="3">A-Z</option>
                            <option value="4">Z-A</option>
                        </select>
                    </div>
                </div>
            </li>
        </ul>
    </nav>


</div>
<div id="listaFiltros" class="lista-filtros">

</div>
<hr />

<div id="ContenedorProd" class="contenedor-listar">

    @foreach (var item in Model)
    {
        <div class="producto-item">
            <a href="/Listar/GetProductoList?ProductoId=@item.ProductoId">
                <img class="producto-imagen" src="/Listar/GetImagePr/@item.ProductoId" alt="@item.Nombre" />
            </a>
            @if (item.DescuentoPorc > 0)
            {
                <span class="producto-oferta">Oferta</span>
            }
            <span class="producto-precio">@item.Precio.ToString("C0")</span>
            @if (item.DescuentoPorc > 0)
            {
                <span class="producto-off">-@item.DescuentoPorc%</span>
            }

            <div>
                <span class="producto-marca">@item.Marca</span>
            </div>
            <hr />
            <div>
                <p class="producto-descr">@item.Descripcion</p>
            </div>
            @if (item.EnvioGratis)
            {
                <div>
                    <p class="producto-envio">Envio gratis</p>
                </div>
            }
        </div>

    }

</div>

<div class="alert alert-primary">
    <ul class="pagination justify-content-md-center">
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(-1);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <input type="text" class="page-link" value="1" id="txtPageNumber" readonly style="width:36px;" />
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(1);" id="pagSiguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>

<input type="text" class="page-link" id="txtPageCant" readonly style="width:36px;display:none" />


<script>


</script>

