@using Newtonsoft.Json;
@model IEnumerable<Negoc.ViewModels.ProductoList>

@{
    ViewData["Title"] = "Index";
}
<div class="alert  alert-primary" >
    <a href="#" onclick="mostrarBarra();" class="btn btn-outline-primary" >
        Categorias
    </a>
    <select class="btn btn-outline-primary" onchange="moverPag(0)" id="selectId">        
        <option value="1">Menor precio</option>
        <option value="2">Mayor precio</option>
        <option value="3">A-Z</option>
        <option value="4">Z-A</option>
    </select>


</div>

<div id="subCategorias" class="subcategorias">
    
    <div id="categorias">

    </div>
</div>
<div id="ContenedorProd" class="contenedor">

    @foreach (var item in Model)
    {
        <div class="item producto">
            <img  class="producto-imagen"  src="/Listar/GetImagePr/@item.ProductoId" alt="@item.Nombre" />
            <span class="producto-oferta">Oferta</span> 
            <span class="producto-precio">@item.Precio</span>
            <span class="producto-off">20%</span>
            <span class="producto-off"></span>
            <span class="producto-descr">@item.Nombre</span>
        </div>

    }

</div>

<div class="alert alert-primary">
    <ul class="pagination justify-content-md-center">
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(-1);" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item">
            <input type="text" class="page-link" value="1" id="txtPageNumber" readonly style="width:36px;" />
        </li>
        <li class="page-item">
            <a class="page-link" href="javascript:moverPag(1);" id="pagSiguiente" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>
<script>

    window.addEventListener("load", window_onload);

    function getQryVal() {
        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);

        var catId = urlParams.get('CategoriaId');
        var genId = urlParams.get('GeneroId');
        var pagNum = urlParams.get('PagNumero');
        var pagSiz = urlParams.get('PagCantidad');
        var tipoOrden = urlParams.get('TipoOrden');

        document.getElementById("selectId").value = tipoOrden; 
        document.getElementById("txtPageNumber").value = pagNum; 
    }
    function moverPag(n) {

        const queryString = window.location.search;
        const urlParams = new URLSearchParams(queryString);
        
        var catId = urlParams.get('CategoriaId');
        var genId = urlParams.get('GeneroId');
        var pagNum = urlParams.get('PagNumero');
        var pagSiz = urlParams.get('PagCantidad');
        var tipoOrden = document.getElementById("selectId").value; //urlParams.get('TipoOrden');

        pagNum = parseInt(pagNum) + n;
        
        if (pagNum <= 0) return;        
        
        var urlProd = "/Listar/GetProductos" + getQryNue(catId, genId, pagNum, pagSiz, tipoOrden);        
        var cant = @Model.Count();      

        window.location.href = urlProd;
  
    }

    function getQryNue(catId, genId, pagNum, pagSiz, tipoOrden) {

        var queryStringNue = "?CategoriaId=" + catId + "&GeneroId=" + genId + "&PagNumero=" + pagNum + "&PagCantidad=" + pagSiz + "&TipoOrden=" + tipoOrden;
        return queryStringNue;
    }

    function window_onload() {                                   
        getQryVal();
        //getCats();        
    }




    function mostrarBarra() {
        if (document.getElementById("subCategorias").classList[1] == null)
            document.getElementById("subCategorias").classList += " activo";
        else
            document.getElementById("subCategorias").classList = "subcategorias";
    }

    function getCats() {
        $.ajax(
            {
                url: "/Listar/GetCategorias?CategoriaId=0&NivelId=5",
                method: "GET",
                dataType: 'json'
            }
        ).then(function (data) {
            var res = JSON.parse(data);
            var contain = document.getElementById("categorias");
            res.forEach((elem, index, array) => {
                if (elem.NivelId == 1) {
                    var divR = document.createElement("div");
                    divR.id = elem.CategoriaId;

                    var spText = document.createElement("span");
                    spText.innerText = elem.Nombre;
                    spText.addEventListener('click', function (e) { e.cancelBubble = true; CategoriaClick(e); });
                    var spIco = document.createElement("span");
                    spIco.innerHTML = "|+|";
                    spIco.className = "categoria-icono";
                    spIco.addEventListener('click', function (e) { e.cancelBubble = true; disp(e); });

                    divR.appendChild(spIco);
                    divR.appendChild(spText);

                    contain.appendChild(divR);
                }
                else {
                    var nodo = document.getElementById(elem.ParentId);
                    if (nodo == null) { //no existe
                    }
                    else {
                        var divR = document.createElement("div");
                        divR.style.display = "none";
                        divR.id = elem.CategoriaId;
                        nodo.appendChild(divR);

                        var spText = document.createElement("span");
                        spText.innerText = elem.Nombre;
                        spText.addEventListener('click', function (e) { e.cancelBubble = true; CategoriaClick(e); });
                        var spIco = document.createElement("span");
                        spIco.innerHTML = "|+|";
                        spIco.className = "categoria-icono";
                        spIco.addEventListener('click', function (e) { e.cancelBubble = true; disp(e); });

                        divR.appendChild(spIco);
                        divR.appendChild(spText);

                    }
                }
            });
        });
    }

    function disp(e) {

        if (e.target.innerHTML.indexOf("+") < 0)
            e.target.innerHTML = e.target.innerHTML.replace("-", "+");
        else
            e.target.innerHTML = e.target.innerHTML.replace("+", "-");

        e.target.parentElement.childNodes.forEach((elem, index, array) => {
            if (elem.tagName == "DIV") {
                if (elem.style.display != "none")
                    elem.style.display = "none";
                else
                    elem.style.display = "block";
            }
        });
    }
    function CategoriaClick(e) {

        $.ajax({
            url: "/Listar/GetProductosCat?CategoriaId=" + e.target.parentElement.id,
            method: "GET",
            dataType: 'json'
        }).then(function (data) {
            mostrarBarra();
            var productos = JSON.parse(data);
            CargarProd(productos);
        });
    }

    
    


</script>

