
body-layout {
    background-color: whitesmoke;
}
.contenido {
    margin:0 24px 0 24px;
    
}

@media only screen and (min-width: 1366px) {
    .contenido {
        margin: 0 8% 0 8%;
        
    }
}

@media only screen and (max-width: 576px) {
    .contenido {
        margin: 0 0 0 0;
        
    }
}