@{
    ViewData["Title"] = "_Layout";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>

    <link href="~/lib/cardcarr/cardcarr.css" rel="stylesheet" />
    <link href="~/lib/productoun/productoun.css" rel="stylesheet" />
    <link href="~/lib/carouselb/carouselb.css" rel="stylesheet" />

    <link href="~/css/homeindex.css" rel="stylesheet" />
    <link href="~/css/listarindex.css" rel="stylesheet" />
    <link href="~/css/carroindex.css" rel="stylesheet" />



    <title></title>

</head>
<body>    
    @await Component.InvokeAsync("MenuBar", new { CategoriaId = Convert.ToInt64(0), NivelId = Convert.ToInt64(2) })

    @RenderBody()

    <div class="text-black-50  card-footer ">Terminos</div>
</body>
</html>

@RenderSection("Scripts", false)
