@model IEnumerable<Negoc.Models.Categoria>



<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <div>&#127968;</div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown active ">
                <a class="nav-link dropdown-toggle" href="/Listar/" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hombre
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown1">

                    @foreach (var m in Model)
                    {
                        @if (m.NivelId == 1)
                        {
                            <a class="dropdown-item font-weight-bold" href="/Listar/GetProductos?CategoriaId=@m.CategoriaId&GeneroId=1&PagNumero=1&PagCantidad=3&TipoOrden=1">@m.Nombre</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="/Listar/GetProductos?CategoriaId=@m.CategoriaId&GeneroId=1&PagNumero=1&PagCantidad=3&TipoOrden=1">-@m.Nombre</a>
                        }
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Listar/GetProductos?CategoriaId=0&GeneroId=1&PagNumero=1&PagCantidad=3&TipoOrden=1">Todo</a>
                </div>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Mujer
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                    @foreach (var m in Model)
                    {
                        @if (m.NivelId == 1)
                        {
                            <a class="dropdown-item font-weight-bold" href="/Listar/GetProductos?CategoriaId=@m.CategoriaId&GeneroId=2&PagNumero=1&PagCantidad=3&TipoOrden=1">@m.Nombre</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="/Listar/GetProductos?CategoriaId=@m.CategoriaId&GeneroId=2&PagNumero=1&PagCantidad=3&TipoOrden=1">-@m.Nombre</a>
                        }
                    }
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/Listar/GetProductos?CategoriaId=0&GeneroId=2&PagNumero=1&PagCantidad=3&TipoOrden=1">Todo</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="~/Producto/" id="" role="button">
                    Productos
                </a>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0" style="margin-left:auto;" >
            <input class="form-control mr-sm-2 " style="width:60%;margin-right:2px;" type="search" placeholder="Buscar" aria-label="Search" id="txtABuscar">
            <button class="btn btn-outline-info my-2 my-sm-0" onclick="buscarDescr()">Buscar</button>
        </div>
    </div>

</nav>
<script>
    function buscarDescr() {
        
        window.location.href = "/Listar/GetProductos?CategoriaId=0&GeneroId=0&MarcaId=0&ColorId=0&PrecioD=0&PrecioH=0&Descripcion=" +
            document.getElementById("txtABuscar").value +  "&PagNumero=1&PagCantidad=3&TipoOrden=1";
    }
</script>
